<?xml version="1.0" encoding="UTF-8" ?>	
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	
 	<suite name="Suite" thread-count="2" parallel="methods" >	
		 <listeners>
			 <listener class-name="Swag_Labs.Listeners"/>
		 </listeners>
		<test name="Test group a">	
			<groups>	
				<run>	
   					 <include name="a" />	
        		</run>	
       		</groups>	
			<classes>	
					<class name="Swag_Labs.Multiple_TestCase" />	
           	</classes>	
		</test>	
  </suite>	
